<ion-view title="திருக்குறள்2" id="page4">
  <ion-content padding="false" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/sDPF0YZtS0A?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="2-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="2-heading2" style="color:#000000;text-align:center;"> திருக்குறள் 2</h3>
    <ion-list id="2-list5">
      <ion-item class="item-avatar item-icon-right" id="2-list-item15">
        <img src="img/ACSszfHnrIIkL3_ReR8uG-adEPfuQK6B4Pv0NmzlIws88-mo-c-c0xffffffff-rj-k-no">
        <h2>ஓம்தமிழ் OMTAMIL</h2>
        <p>Published on Oct 2, 2013</p>
        <i class="icon ion-ios-videocam-outline"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 320px; height: 27px;"></div>
    <div id="2-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:17px;">கற்றதனால் ஆய பயனென்கொல் வாலறிவன் நற்றாள் தொழாஅர் எனின்.</p>
    </div>
    <div class="spacer" style="width: 320px; height: 65px;"></div>
    <div id="2-button-bar2" class="button-bar">
      <a ui-sref="page1()" id="2-button7" class="button button-positive button-block">1</a>
      <a ui-sref="page1()" id="2-button11" class="button button-positive button-block">&lt;</a>
      <button id="2-button8" class="button button-positive button-block">2</button>
      <button id="2-button9" class="button button-positive button-block">&gt;</button>
      <button id="2-button12" class="button button-positive button-block">3</button>
    </div>
  </ion-content>
</ion-view>