<ion-view title="Homepage" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="homepage-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="homepage-slide24" style="background-color:#3086F6;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/bypDTMStRGT4Iib885B2_.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 320px; height: 31px;"></div>
              <h2 id="homepage-heading3" style="color:#FFFFFF;text-align:center;">தமிழ் இலக்கியம்</h2>
              <div class="spacer" style="width: 320px; height: 25px;"></div>
              <div id="homepage-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#FFFFFF;">தமிழ் இலக்கியம் இரண்டாயிரம் ஆண்டுகளுக்கு மேலான தொடர்ச்சி கொண்ட உலகின் சிறந்த இலக்கியங்களில் ஒன்று. வாழ்வின் பல்வேறு கூறுகளை தமிழ் இலக்கியங்கள் இயம்புகின்றன. தமிழ் இலக்கியத்தில் வெண்பா, குறள், புதுக்கவிதை, கட்டுரை, பழமொழி, தொண்ணூற்றாறு
                  வகை சிற்றிலக்கியங்கள் என பல வடிவங்கள் உள்ளன.</p>
              </div>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="homepage-slide27" style="background-color:#F6C630;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <div>
                <img src="img/DxmqRZSnS8ibtNbwiNjJ_4.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
              </div>
              <div class="spacer" style="width: 320px; height: 30px;"></div>
              <h2 id="homepage-heading4" style="color:#5C0000;text-align:center;">சங்க இலக்கியம்</h2>
              <div class="spacer" style="width: 320px; height: 41px;"></div>
              <div id="homepage-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">சங்க இலக்கியம் எனப்படுவது தமிழில் பொது ஆண்டுக்கு முற்பட்ட காலப்பகுதியில் எழுதப்பட்ட செவ்வியல் இலக்கியங்கள் ஆகும்.சங்க இலக்கியம் 473 புலவர்களால் எழுதப்பட்ட 2,381 பாடல்களைக் கொண்டுள்ளது. </p>
              </div>
              <div class="spacer" style="width: 320px; height: 41px;"></div>
              <a ui-sref="page1()" id="homepage-button10" class="button button-positive button-block">உள்நுழைக</a>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>