<ion-view title="Page" id="page7">
  <ion-content padding="true" style="background: url(img/yP4IilOcQyK17uY98IJT_bkgd3.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <a style="display:block;" ui-sref="page2()">
        <img src="img/R9I7scpTwiQl9gxOsD2z_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <img src="img/3P3vdeDSsKA4hcaPPgg3_8.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>