<ion-view title="பதிணென்மேற்கணக்கு" id="page8">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div id="page8-button-bar5" class="button-bar">
      <a ui-sref="page2()" id="page8-button23" class="button button-positive">எட்டுத்தொகை</a>
      <button id="page8-button24" class="button button-positive">பத்துப்பாட்டு</button>
    </div>
    <ion-list id="page8-list7">
      <ion-item class="item-avatar item-icon-right calm" id="page8-list-item25">
        <img src="img/TN_120926151334000000.jpg">
        <h2calm>பத்துப்பாட்டு
          <i class="icon ion-ios-book-outline"></i>
        </h2calm>
      </ion-item>
    </ion-list>
    <ion-list id="page8-list8">
      <ion-item id="page8-list-item26">திருமுருகாற்றுப்படை</ion-item>
      <ion-item id="page8-list-item27">பொருநராற்றுப்படை</ion-item>
      <ion-item id="page8-list-item28">சிறுபாணாற்றுப்படை</ion-item>
      <ion-item id="page8-list-item29">பெரும்பாணாற்றுப்படை</ion-item>
      <ion-item id="page8-list-item30">முல்லைப்பாட்டு</ion-item>
      <ion-item id="page8-list-item31">மதுரைக்காஞ்சி</ion-item>
      <ion-item id="page8-list-item32">நெடுநல்வாடை</ion-item>
      <ion-item id="page8-list-item33">குறிஞ்சிப்பாட்டு</ion-item>
      <ion-item id="page8-list-item34">பட்டினப்பாலை</ion-item>
      <ion-item id="page8-list-item35">மலைபடுகடாம்</ion-item>
    </ion-list>
    <a ui-sref="page1()" id="page8-button25" class="button button-calm button-block">தமிழ் இலக்கியம்</a>
  </ion-content>
</ion-view>