<ion-view title="Page" id="page19" style="background-color:#2A10E1;">
  <ion-content padding="true" style="background: url(img/D9QiDy7KQk684U6UQC0r_61uPvhL9DJL._SY450_.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/xlM7er9HQG22zE1OSXBE_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page10()" id="page11-button32" style="font-weight:600;" class="button button-royal button-block">கல கல </a>
    <a ui-sref="page10()" id="page11-button33" style="font-weight:600;" class="button button-royal button-block">தட தட </a>
    <a ui-sref="page6()" id="page11-button34" style="font-weight:600;" class="button button-royal button-block">மட மட </a>
    <a ui-sref="page10()" id="page11-button35" style="font-weight:600;" class="button button-royal button-block">சல சல </a>
    <a ui-sref="page12()" id="page11-button41" style="font-weight:600;" class="button button-assertive button-block">அடுத்து </a>
  </ion-content>
</ion-view>