<ion-view title="Page" id="page18">
  <ion-content padding="true" style="background: url(img/nADaKkJSjaehN3od601x_you-are-my-sunshine-stars-1005m-x-52cm-roll-wallpaper.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/IIZCeqCfSi2k44zrLoeg_sad.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page10-button29" style="font-weight:600;" class="button button-assertive button-block">பிழையான பதில் !</button>
  </ion-content>
</ion-view>