<ion-view title="பதிணென்மேற்கணக்கு" id="page2">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div id="page2-button-bar4" class="button-bar">
      <button id="page2-button20" class="button button-positive">எட்டுத்தொகை</button>
      <a ui-sref="page8()" id="page2-button22" class="button button-positive">பத்துப்பாட்டு</a>
    </div>
    <ion-list id="page2-list2">
      <ion-item class="item-avatar item-icon-right calm" id="page2-list-item4">
        <img src="img/lrOfxHpTCyvQGwWdE9od_siru.jpg">
        <h2calm>எட்டுத்தொகை
          <i class="icon ion-ios-book-outline"></i>
        </h2calm>
      </ion-item>
    </ion-list>
    <ion-list id="page2-list3">
      <ion-item id="page2-list-item8">நற்றினை</ion-item>
      <ion-item id="page2-list-item11">குறுந்தொகை</ion-item>
      <ion-item id="page2-list-item12">ஐங்குறுநூறு</ion-item>
      <ion-item id="page2-list-item13">பதிற்றுப்பத்து</ion-item>
      <ion-item id="page2-list-item16">பரிபாடல்</ion-item>
      <ion-item id="page2-list-item17">கலித்தொகை</ion-item>
      <ion-item id="page2-list-item18">அகநானூறு</ion-item>
      <ion-item id="page2-list-item19">புறநானூறு</ion-item>
    </ion-list>
    <a ui-sref="page1()" id="page2-button26" class="button button-calm button-block">தமிழ் இலக்கியம்</a>
  </ion-content>
</ion-view>