<ion-view title="Page" id="page8">
  <ion-content padding="true" style="background: url(img/ZrgKhMdxSGKoEysKjd3u_Flowers20Butterfly20Effect203D20Animation20free20gif20images20Banners2020Abstract20background20screensaver20iphone20Cute20kids20love20good20morning20kisses20happy20day20animals20friends20cats20with20flowers20butterfly.gif) no-repeat center;background-size:cover;"
    class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ih7LVnGjQKeiNesh6HPy_AW467309_04.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page2-button17" style="font-weight:600;" class="button button-energized button-block">இரட்டைக்கிளவி</button>
    <a ui-sref="page3()" id="page2-button7" style="font-weight:600;" class="button button-calm button-block">1. தட தட </a>
    <a ui-sref="page8()" id="page2-button6" style="font-weight:600;" class="button button-calm button-block">2. மட மட </a>
  </ion-content>
</ion-view>