<ion-view title="Page" id="page11">
  <ion-content padding="true" style="background: url(img/0ckpROapRHea6ReCDOr4_Children_art_illustration_of_cartoonland_1020.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/GLFV2DTeNd8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page5-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/R9gNtgMzRHSuz6MjPKgw_practice.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page5-button11" style="font-weight:600;" class="button button-assertive button-block">மட மட </button>
    <a ui-sref="page6()" id="page5-button12" style="font-weight:600;" class="button button-assertive button-block">தட தட </a>
    <button id="page5-button13" style="font-weight:600;" class="button button-assertive button-block">மள மள </button>
    <a ui-sref="page11()" id="page5-button30" style="font-weight:600;color:#0E1311;" class="button button-energized button-block">அடுத்து </a>
  </ion-content>
</ion-view>