<ion-view title="Page" id="page9">
  <ion-content padding="true" style="background: url(img/wVUchTiISyqeqf8vAJed_500_F_202641883_KEQMxrJUF8AHorLrCjFt0PuDjsXJgIrq.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/GLFQtaJcThaf2Lo9Hytd_3Ux5.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page3-button9" style="font-weight:600;color:#141314;" class="button button-energized button-block">தட தட </button>
    <div>
      <img src="img/QzcaUq8QQebEVIKXqhMw_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="page6" id="page3-button18" style="font-weight:600;" class="button button-assertive button-block">எடுத்துக்காட்டு </a>
  </ion-content>
</ion-view>