<ion-view title="Page" id="page16">
  <ion-content padding="true" style="background: url(img/HHpm3twETPaiOxZYcEJ6_Beautiful20Motion20Background20Preview.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/iHAQVCfIQ5uVakZtPXar_giphy.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page8-button26" style="font-weight:600;color:#1F2523;" class="button button-energized button-block">மட மட </button>
    <div>
      <img src="img/Tf6TWsOJQgOOVnDZ2pN9_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page9()" id="page8-button27" style="font-weight:600;" class="button button-positive button-block">எடுத்துக்காட்டு </a>
  </ion-content>
</ion-view>