<ion-view title="Page" id="page14">
  <ion-content padding="true" style="background: url(img/fJSUR6ATWeOS67kVIlyc_depositphotos_107961486-stock-illustration-cartoon-farm-animals-holding-wooden.jpg) no-repeat center;background-size:cover;" class="has-header">
    <button id="page16-button15" style="font-weight:600;" class="button button-assertive button-block">அனைவருக்கும் வணக்கம்!</button>
    <div>
      <img src="img/CCngz57TQeYgjiKaQUkt_vanakkam.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page()" id="page16-button16" style="font-weight:600;color:#121213;" class="button button-energized button-block">உள்ளே நுழைக !</a>
  </ion-content>
</ion-view>