<ion-view title="Page" id="page17">
  <ion-content padding="true" style="background: url(img/zD6qYgoGTfKASCZWclkt_beautiful-nature-desktop-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/eceREqG2SpRZL2M7xXLA_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page4()" id="page9-button28" style="font-weight:600;border-radius:80px 80px 80px 80px;" class="button button-assertive button-block">அடுத்து </a>
  </ion-content>
</ion-view>