<ion-view title="Page" id="page21">
  <ion-content padding="true" style="background: url(img/ObJ3ke7T9qPmFMzVNJYB_original.png) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/Fg3SyR9QveW6rpAsDLrw_building-implosion-1.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/C9WpgSSPOX0I5RQMwXAn_1.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page6()" id="page13-button43" style="font-weight:600;border-radius:80px 80px 80px 80px;" class="button button-assertive button-block">மட மட </a>
    <a ui-sref="page10()" id="page13-button44" style="font-weight:600;border-radius:80px 80px 80px 80px;" class="button button-assertive button-block">தட தட </a>
    <button id="page13-button45" style="font-weight:600;color:#19355F;" class="button button-energized button-block">அடுத்து </button>
  </ion-content>
</ion-view>