<ion-view title="Page" id="page12" style="background-color:#1431D8;">
  <ion-content padding="true" style="background: url(img/gz5CCzZUROpW1VNfXukt_good.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/6kYzcvWRnWPYem2zS0NF_5.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page6-button14" style="font-weight:600;" class="button button-royal button-block">சரியான விடை! வாழ்த்துகள்</button>
  </ion-content>
</ion-view>