<ion-view title="Page" id="page15">
  <ion-content padding="true" style="background: url(img/z92naIfiT0Cd8hNLDNvc_wall-decals-new-wallpaper-kids-room-designs-1.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/2VrxC1rRaet2H7SQogQj_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page2()" id="page7-button25" style="font-weight:600;border-radius:80px 80px 80px 80px;" class="button button-assertive button-block"> அடுத்த இரட்டைக்கிளவி </a>
  </ion-content>
</ion-view>