<ion-view title="பதினெண்கீழ்க்கணக்கு" id="page7">
  <ion-content padding="false" class="has-header">
    <ion-list id="page7-list6">
      <ion-item class="item-thumbnail-left" id="page7-list-item20" ui-sref="page3()">
        <img src="img/latestcb20160422020439path-prefixta">
        <h2>திருக்குறள்</h2>
        <p style="white-space:normal;">திருக்குறள் உலகப் புகழ்பெற்ற தமிழ் மொழி இலக்கியமாகும்.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page7-list-item21">
        <img src="img/naaladiyar.jpg">
        <h2>நாலடியார்</h2>
        <p style="white-space:normal;">நான்கு அடிகளைக் கொண்ட வெண்பாவால் இயற்றப் பட்டதால் நாலடியார் எனப்பட்டது.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>