<?xml version='1.0' encoding='utf-8'?>
<widget id="com.infitt.karpomvaarir" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>karpom vaarir</name>
    <description>
     இரட்டைக்கிளவியையும் அதன் பொருளையும் புரிந்து கொள்ள ஏதுவாக அமையும்.
    </description>
    <author email="info@otpam.com" href="http://otpam.com">
   OTPAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
